@theme {
  --bg-base: oklch(1 0 0);
  --bg: oklch(1 0 0);
  --bg-1: oklch(1 0 0);
  --bg-2: oklch(1 0 0);
  --bg-3: oklch(1 0 0);

  --primary: oklch(12 12 12);
  --secondary: oklch(12 12 12);
  --alert: oklch(12 12 12);
  --outline: oklch(12 12 12);
  --ghost: oklch(12 12 12);

  --default-text: oklch(10 10 10);
  --primary-text: oklch(12 12 12);
  --secondary-text: oklch(12 12 12);
  --alert-text: oklch(12 12 12);
  --outline-text: oklch(12 12 12);
  --ghost-text: oklch(12 12 12);

  --rad-sm: 0.375rem;
  --rad-md: 0.75rem;
  --rad-lg: 1rem;
  --rad-xl: 1.5rem;

  --gap-page: 1.5rem;
  --gap-section: 4rem;
  --gap-card: 1rem;

  --pad-page: 4rem;
  --pad-card: 4rem;
}
